@tailwind base;
@tailwind components;
@tailwind utilities;


/* nave bar menu custom style */
.main-manu li ul{
    opacity: 0;
    visibility: hidden;
}
.main-manu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 144%;
}
.dashboard-nav-link:hover > span > .down-arrow-icon{
    transform: rotate(180deg);
}
.menu-items-common li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #dd3333;
    transition: 0.3s ease-in-out;
}
.menu-items-common > li a:hover:after {
    width: 100%;
}
.menu-items-common li > a{
    display: inline-block;
    transition: 0.15s ease-in-out;
    position: relative;
    padding-bottom: 6px;
}
.menu-items-common li > .active{
color:#dd3333;
}

/* slick custom css */
button.slick-arrow.slick-prev:before, .slick-next:before{
    display: none;
}
button.slick-arrow.slick-next:before, .slick-next:before{
    display: none;

}
